{% extends 'base.html' %}
{% block content %}
  {% if user.posts.all.count > 0 %}
    <h1 class="mt-4 text-center">My Posts:</h1>
    <div>
      <div class="list-group">
        {% for post in user.posts.all %}
          <div class="list-group-item">
            <div class="d-flex justify-content-between align-items-start">
              <div>
                <h4 class="mb-1">
                  <a href="{% url 'blog:post_detail.html-detail' pk=post.id %}" class="green-link">{{ post }}</a>
                </h4>
                <p class="text-muted mb-0">
                  {{ post.created_time }}<br>
                  {% with cc=post.comments.count %}
                    {% if cc > 0 %}
                      {{ cc }} Comment{{ cc|pluralize }}
                    {% else %}
                      No Comments
                    {% endif %}
                  {% endwith %}
                </p>
              </div>

              <a class="gray-link" href="#">{{ post.owner }}</a>
            </div>

            <div>
              <p class="mb-0 lead">{{ post.content|truncatechars:200 }}</p>
            </div>
          </div>

        {% endfor %}
      </div>
    </div>
  {% else %}
    <hr>
    <p class="lead text-center">You have no posts yet</p>
  {% endif %}
{% endblock %}
